In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
ser1 = Series([1,2,3,4])
ser2 = Series(['a', 'b', 'c'])
print(ser1)

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
print(ser2)

0    a
1    b
2    c
dtype: object

In [6]:
idx = pd.Index(["New York", "Los Angeles", "Chicago", "Houston", "Philadelphia",
              "Phoenix", "San Antonio", "San Diego", "Dallas"])

In [7]:
print(idx)

Index(['New York', 'Los Angeles', 'Chicago', 'Houston', 'Philadelphia',
       'Phoenix', 'San Antonio', 'San Diego', 'Dallas'],
      dtype='object')

In [9]:
pops = Series([8850, 3972, 2721, 2296, 1567, np.nan, 1470, 1395, 1300], index = idx, name='Population')

In [10]:
print(pops)

New York        8850.0
Los Angeles     3972.0
Chicago         2721.0
Houston         2296.0
Philadelphia    1567.0
Phoenix            NaN
San Antonio     1470.0
San Diego       1395.0
Dallas          1300.0
Name: Population, dtype: float64

In [11]:
capitals = Series({"New York": "Albany", "California": "Sacramento", "Arizona" : "Phoenix", "Texas": "Austin",
                  "Massachusetts": "Boston"}, name = "capitol")

In [12]:
print(capitals)

New York             Albany
California       Sacramento
Arizona             Phoenix
Texas                Austin
Massachusetts        Boston
Name: capitol, dtype: object

In [ ]:
area = Series({""})