In [2]:
import numpy as np
import pandas as pd
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

In [3]:
pd.DataFrame(np.array([[10, 11], [20, 21]]))

    0   1
0  10  11
1  20  21

In [4]:
df1 = pd.DataFrame([pd.Series(np.arange(10, 15)), pd.Series(np.arange(15, 20))])
df1

    0   1   2   3   4
0  10  11  12  13  14
1  15  16  17  18  19

In [5]:
df1.shape

(2, 5)

In [8]:
df = pd.DataFrame(np.array([[10, 11], [20, 21]]), columns=['a', 'b'])
df

    a   b
0  10  11
1  20  21

In [9]:
df.columns

Index(['a', 'b'], dtype='object')

In [10]:
# rename the columens
df.columns = ['c1', 'c2']
df

   c1  c2
0  10  11
1  20  21

In [11]:
df = pd.DataFrame(np.array([[0, 1], [2, 3]]), columns=['c1', 'c2'], index=['r1', 'r2'])
df

    c1  c2
r1   0   1
r2   2   3

In [12]:
df.index

Index(['r1', 'r2'], dtype='object')

In [13]:
s1 = pd.Series(np.arange(1, 6, 1))
s2 = pd.Series(np.arange(6, 11, 1))
pd.DataFrame({'c1': s1, 'c2': s2})

   c1  c2
0   1   6
1   2   7
2   3   8
3   4   9
4   5  10

In [14]:
s3 = pd.Series(np.arange(12, 14), index=[1,2])
pd.DataFrame({'c1': s1, 'c2': s2, 'c3': s3})

   c1  c2    c3
0   1   6   NaN
1   2   7  12.0
2   3   8  13.0
3   4   9   NaN
4   5  10   NaN